<div >
<h3 class="top-text">Expense Calculator</h3>

<button type="button" class="btn-right" (click)="log()">Logout</button>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
               
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="!showExpandature">
                   
                    
                    <div class="row">
                        <div class="col">
                            <label><b>Name</b></label>
                            <select class="form-control mt-2" id="field_countries" name="country" #t formControlName="name" placeholder="Enter expense...." (change)="countryChanged(t.value)" style="height: 38px;" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                <option [value]="country" *ngFor="let country of options"> {{ country }} </option>
                            </select>
                          <!-- <input type="text" class="form-control" formControlName="email" id="email" placeholder="Enter expense...." name="email"> -->
                          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">name is required</div>
                            <!-- <div *ngIf="f.name.errors.pattern">..</div> -->
                        </div>
                       
                        </div>
                        <div class="col">
                            <label><b>Amount</b></label>
                          <input type="text" class="form-control" formControlName="amount" placeholder="Enter amount..." name="pswd"  [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                          <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                            <div *ngIf="f.amount.errors.required">amount is required</div>
                            <div *ngIf="f.amount.errors.pattern">only integer value allowed..</div>
                        </div>
                        </div>

                        
                      </div>
                    <div class="form-group btn-submit">
                        <button  class="btn btn-primary">Add</button>
                    </div>
                </form>
               
            </div>
        </div>
    </div>
   

<div>
<h6 class="mr--top" *ngIf="!showExpandature"><b>Total expenditure</b>:Rs    {{sum}}    /-</h6>
<h6 class="mr--top" *ngIf="showExpandature"><b>Total expenditure</b>:Rs    {{sum_data}}    /-</h6>

<div style="float: right;">           
  <form [formGroup]="dateForm" (ngSubmit)="onSubmitDate()">
    <div>
        <div>
            <label><b>Date</b></label>
          <input type="date" class="form-control" formControlName="datte" placeholder="Enter amount..." name="pswd" [ngClass]="{ 'is-invalid': submittedDate && d.datte.errors }" >
          <div *ngIf="submittedDate && d.datte.errors" class="invalid-feedback">
            <div *ngIf="d.datte.errors.required">date is required</div>
            <!-- <div *ngIf="f.datte.errors.pattern">only integer value allowed..</div> -->
        </div>
        
        
        </div>
      </div>
    <div class="form-group btn-submit">
        <button  class="btn btn-primary">Search..</button>
    </div>
</form>
  </div>
</div>
</div>

<div class="container">
  
    <table class="table table-hover" *ngIf="showTable" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let c of arry;let i =index">
        <tr>
          <td>{{c.name}}</td>
          <td>{{c.amount}}</td>
          <td>{{ today_date }}</td>
       <td><i class="material-icons" (click)="deleteData(i)">delete</i></td>
        </tr>
       
      </tbody>
    </table>


    <h1 *ngIf="!showTable" class="no-list">No Data Added yet..</h1>
  </div>
</div>





